body{
    margin: 0px;
    padding: 0px;
    background-image: url(images/jake-weirick-Q_RBVFFXR_g-unsplash.jpg);
    background-size: cover;
    height: 100%;

}

.sun{
    height: 120px;
    width: 120px;
    background-image: url(images/sun.png);
    background-size: 100%;
    border-radius: 50%;
    box-shadow: -4px 2px 56px #f9c05f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mercury{
    background-image: url(images/mercury.png);
    background-size: 100%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #7321d1;
    top: 43%;
    left: 42%;
    transform: translate(-50%, -50%);
    animation: orbit2 2s linear infinite;

}

@keyframes orbit2{
    from{transform: rotate(0deg)translateX(70px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(70px) rotate(-360deg);}

}

p{
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -62px;
    top: -11px;
}


.mercury-outline, .venus-outline, .earth-outline, .mars-outline, .jupiter-outline,
.saturn-outline, .uranus-outline, .neptune-outline{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.mercury-outline{
    height: 140px;
    width: 140px;
}

.venus{
    background-image: url(images/Venus.png);
    background-size: 100%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    box-shadow: -4px 2px 56px #d8a349;
    left: 42%;
    transform: translate(-50%, -50%);
    animation: orbit3 10s linear infinite;

}

@keyframes orbit3{
    from{transform: rotate(0deg)translateX(100px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(100px) rotate(-360deg);}

}

.venus-outline{
    height: 200px;
    width: 200px;
}


.earth{
    background-image: url(images/earth.png);
    background-size: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -1px 1px 56px #4998d8;
    top: 38%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: orbit4 20s linear infinite;

}

@keyframes orbit4{
    from{transform: rotate(0deg)translateX(150px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(150px) rotate(-360deg);}

}

.earth-outline{
    height: 300px;
    width: 300px;
}

.mars{
    background-image: url(images/mars.png);
    background-size: 100%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -1px 1px 56px #cf6433;
    top: 45.5%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    animation: orbit5 30s linear infinite;

}

@keyframes orbit5{
    from{transform: rotate(0deg)translateX(185px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(185px) rotate(-360deg);}

}

.mars-outline{
    height: 370px;
    width: 370px;
}

.jupiter{
    background-image: url(images/jupiter.png);
    background-size: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -1px 1px 56px #e2d5b0;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: orbit6 50s linear infinite;

}

@keyframes orbit6{
    from{transform: rotate(0deg)translateX(217px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(217px) rotate(-360deg);}

}

.jupiter-outline{
    height: 430px;
    width: 430px;
}


.saturn{
    background-image: url(images/saturn.png);
    background-size: 100%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -1px 1px 56px #e2d5b0;
    top: 46%;
    left: 46%;
    transform: translate(-50%, -50%);
    animation: orbit7 65s linear infinite;

}

@keyframes orbit7{
    from{transform: rotate(0deg)translateX(260px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(260px) rotate(-360deg);}

}

.saturn-outline{
    height: 520px;
    width: 520px;
}

.uranus{
    background-image: url(images/uranus.png);
    background-size: 100%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -1px 1px 56px #7fc5f3;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    animation: orbit8 75s linear infinite;

}

@keyframes orbit8{
    from{transform: rotate(0deg)translateX(300px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(300px) rotate(-360deg);}

}

.uranus-outline{
    height: 600px;
    width: 600px;
}

.neptune{
    background-image: url(images/neptune.png);
    background-size: 100%;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    box-shadow: -1px 1px 56px #ac7ff3;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
    animation: orbit9 80s linear infinite;

}

@keyframes orbit9{
    from{transform: rotate(0deg)translateX(335px) rotate(0deg);}
    to{transform: rotate(360deg)translateX(335px) rotate(-360deg);}

}

.neptune-outline{
    height: 660px;
    width: 660px;
}